*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color:black
}
header{
    background-color: white;
    padding-top: 20px;
    text-align: center;
}
.menu{
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1400px;
    background-color: black;
    padding: 15px 30px;         
    border-radius: 25px;
    justify-content: space-between;
    z-index: 99;
}
header img{
    width: 40px;
    background-color:black;
    float:left;
}
.logo-col{
    width: 20%;
    background-color:black;  
    text-align: center;
}
.menu-col{
    background-color: black;
    width: 58%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font: bolder 14px "IBM Plex Sans", sans-serif;
}
.menu-btn {
    font: bolder 13px "IBM Plex Sans", sans-serif;
    padding: 10px 20px;
    background-color:white;
    color: black;
    border: 1px solid #7a7a7a;
    border-radius: 8px;    
}
nav ul{
    display: flex;
    background-color :black;
    gap: 30px;
}
nav ul li a{
    background-color: black;
    color: white;
}
.hero{
    padding-top: 200px;
    height: 90vh;
}
.hero-inner {
    text-align: center;  
}
.hero-inner h1{
    font: bolder 10rem "IBM Plex Sans", sans-serif;
    word-spacing: -14px;
}
.hero-inner p{ 
    margin-top: 150px;
    font: bolder 1.5rem "IBM Plex Sans", sans-serif;
}
.content {
    background-color: black  ;
    padding: 200px 0px;
}
.content-inner{
    height: 600px;
}
.content-inner p{
    color: white;
    font:  1rem "IBM Plex Sans", sans-serif ;
    font-weight: 400;
    width: 750px;
    line-height: 1.5rem;
}
.content-inner h1{
    font: bolder 4rem "IBM Plex Sans", sans-serif;
    color: white;
    width: 650px;
}
.content-inner h4{
    font: bolder 2.5rem "IBM Plex Sans", sans-serif;
    color: white;
    padding: 50px 0px;
}
.content-inner img{
    width: 100%;
    max-width: 900px;
    position: relative;
    left: 640px;
    top: -200px;
}
.chips{
    background-color: #1d1d1f;
    padding: 100px 0px;
}
.chips-inner{
    background-color: black;
    border-radius: 30px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px;
    border: none;
}
.chips-inner h1{
    font: bolder 4rem "IBM Plex Sans", sans-serif;
    color: white;
    padding-bottom: 80px;
    width: 650px;
}
.chips-inner p{
    color: white;
    font:  1.5rem "IBM Plex Sans", sans-serif ;
    font-weight: 400;
    width: 750px;
    line-height: 1.5rem;
    padding-top: 80px;
}
.chips-inner img{
    width: 100%;
    max-width: 600px;
    position: relative;
    left: 290px;
}
.internal-col{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 100px;
    width: 1000px;
}
.internal-col img{
    width: 300px;
}
.internal-col p{
    color: white;
    font:  2rem "IBM Plex Sans", sans-serif ;
    font-weight: 400;
    width: 350px;
    line-height: 2rem;
    padding-top: 80px;
}
.ai{
    background-color: black;
    padding: 200px 0px 100px 0px;
}
.ai-inner{
    text-align: center;
}

.ai-inner h2{
    font: bolder 2rem "IBM Plex Sans", sans-serif;
    color: white;
    padding-bottom: 50px;
}
.ai-inner p{
    padding-top: 40px;
    color: white;
    font:  1rem "IBM Plex Sans", sans-serif ;
    font-weight: 500;
    width: 800px;
    line-height: 1.5rem;
    margin: 0 auto;
}
.ai-inner h1{
    display: inline-block;
    background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(108deg, #0090f7, #ba62fc 33%, #f2416b 66%, #f55600);
    font: bolder 4rem "IBM Plex Sans", sans-serif;

}
.os{
    background-image: url(../flags/macos_hero_endframe__bala98xpb336_large.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}
.text{
    text-align: center;
    padding: 200px 0px 100px 0px;
}
.text h1{
    font: bolder 4rem "IBM Plex Sans", sans-serif;
    color: white;
}
.text h3{
    color: white;
    font:  1.7rem "IBM Plex Sans", sans-serif ;
    font-weight: 400;
    line-height: 1.5rem;
}
.os-col{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 100px;
    width: 1000px;
    margin: 0 auto;
}
.os-col p{
    color: white;
    font:  1.2rem "IBM Plex Sans", sans-serif ;
    font-weight: 400;
    padding-top: 50px;
    width: 350px;
    line-height: 1.5rem;
}
.os-col img{
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.about{
    padding-top: 100px;
    margin: 0 auto;
    background-color: #1d1d1f;
}
.about-inner{
    background-color:black;
    border-radius: 30px;
    width: 1300px;
    margin: 0 auto;
    padding: 50px;
}

.about-inner h2{
    font: bolder 2rem "IBM Plex Sans", sans-serif;
    color: white;
}
.about-inner p{
    color: black;
    font:  1rem "IBM Plex Sans", sans-serif ;
    font-weight: 400;
    width: 750px;
    line-height: 1.5rem;
}
.team {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content:space-evenly;
}
.team-member{
    width: 16%;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    height: 250px;
    border: 1px solid #b9bbbd;
    margin-bottom: 100px;
}
.pfp{
    background-color: black;
    color: white;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 700 !important;
}
.pfp p {
    color: white;
    text-align: center !important;
    font: bolder 20px "IBM Plex Sans", sans-serif !important;
}
.team-member h3{
    text-align: center;
    margin-top: 15px;
    font:  1.2rem "IBM Plex Sans", sans-serif;
    font-weight: 700 ;
    padding: 14px 0px;
}
.team-member P {
    text-align: center;
    font: 0.85rem "IBM Plex Sans", sans-serif;
}
.roll {
    font-size: 0.7rem;
    margin-top: 40px;
    margin-left: -90px;
    color: #2e2e2e;
}
.contact-us{
    background-color: white;
}
.main{
    background-color:white;
}
.main-inner{
    width: 1300px;  
    margin: 0 auto;
}
.main-inner h1{
    font:  4rem "IBM Plex Sans", sans-serif;
    font-weight: 700;
    color: black;
    padding: 0px 0px 50px 0px;
}
.main-inner img{
    width: 300px;
    position: relative;
    left: 240px;
    top: 180px;
}
.person{
    background-color:white;
    display: flex;
    justify-content: space-evenly;
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.person-inner{
    width: 600px;
    height: 550px;
    background-color:black;
    margin: 0 auto;
    border-radius: 30px;
}
.info-col{
    padding: 40px 0px 0px 30px;
}
.info-col h3{
    font: bolder 1.8rem "IBM Plex Sans", sans-serif;
    color: white;
}
.info-col p{
    color: white;
    font:  1rem "IBM Plex Sans", sans-serif ;
    font-weight: 400;
    padding-top: 10px;
}
.text-col{
    padding: 30px;
}
.text-col p{
    color: white;
    font:  1rem "IBM Plex Sans", sans-serif ;
    font-weight: 400;
    line-height: 1.5rem;
}
form{
    border: 1px solid #2e2e2e50;
    padding: 30px 25px;
    border-radius: 20px;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.form-group {
  margin-bottom: 16px;
}

.form-row {
  display: flex;
  gap: 25px;
}

label {
    margin-top: 15px;
    font:  1rem "IBM Plex Sans", sans-serif;
    font-weight: 700 ;
    padding: 14px 0 0 10px;
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  outline: none;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

input#email{
  width: 100%;
}


input::placeholder,
textarea::placeholder {
  color: #94a3b8;
}

textarea {
  min-height: 120px;
  resize: vertical;
}
.submit {
    width: 100%;
    max-width: 700px;
    padding: 12px 24px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.contact-inner img{
    max-width: 300px;
    position: relative;
    top: -200px;
    margin-bottom: -300px;
    left: 450px;
}
.container h2{
    font: bolder 5rem "IBM Plex Sans", sans-serif;
    padding: 50px 0px;
    padding-top: 150px;
}
.p1{
    color: black;
    font:  1rem "IBM Plex Sans", sans-serif ;
    font-weight: 400;
    width: 750px;
    line-height: 1.5rem;
    padding-bottom: 50px;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0px;
}
.footer-inner {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.grid{
    width: 1300px;
    display: flex;
    margin:  0 auto;
}
.footer-grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
}
.footer-column {
    width: 32%;
}
.logo img{
    width: 100px;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;;
}
.social-icons img {
    padding: 8px ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}
.footer-column ul li a {
    color: white;
    font:  1rem "IBM Plex Sans", sans-serif ;
    line-height: 25px;
    color:  white;
}
.footer-column h3 {
    font: 1.2rem "IBM Plex Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}
.contact-list p {
   font:  1rem "IBM Plex Sans", sans-serif ;
   text-align: left;
   color: white;
   padding-left: 130px;
   margin-top: 10px;
}
.contact-list p img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
    padding: 5px;
    background-color: white;
}
.copyright p {
    font: bolder 1rem "IBM Plex Sans", sans-serif;
    color: white;
}
.team-member button{
    font: bolder 13px "IBM Plex Sans", sans-serif;
    padding: 10px 45px;
    background-color: black;
    border: none;
    margin-top: 50px;
    margin-left: 5px;
    border-radius: 6px;
}
.team-member button a{
    color: white;
}
.data{
    background-color: white;
    padding: 200px 0px;
    height: 70vh;
}
.data h1{
    font: bolder 5rem "IBM Plex Sans", sans-serif;
    text-align: center;
    padding-bottom: 30px;
}
.data p{
    color: black;
    font:  1rem "IBM Plex Sans", sans-serif ;
    font-weight: 400;
    width: 1200px;
    line-height: 1.5rem;
    text-align: center;
    margin: 0 auto;
}
.data h2{
    font: bolder 2rem "IBM Plex Sans", sans-serif;
    text-align: center;
    padding-top: 50px;
}
.gif{
    height: 100px;
}
.gif img{
    width: 400px;
    max-width: 500px;
    position: relative;
    left: 250px;
    top: 50px;
}